.wrapper{
  display: inline-block;
  width: 100vw;
  height: 100vh;
}


.expansion-map-wrapper{
  display: flex;
  width: 100vw;
}

.flex-direction{
  flex-direction: row;
}

.expansion{
  width: 50vw;
  float: left;
}

.list {
  float: left;
  width: 50vw;
  padding-right: 5vw;
  padding-top: 20px;
}

.map {
  float: right;
  padding-left: 3vw;
  padding-top: 20px;
  width: 1000px;
  height: 300px;
}

.searchBar {
  width: 45%;
  margin-left: 2vw;
  display: inline-block;
  vertical-align: bottom;
}

@media only screen and (max-width: 900px) {
  /* For non-desktops: */
  .flex-direction{
    flex-direction:column;
  }

  .map {
    float: right;
    padding-top: 20px;
    width: 100vw;
    height: 300px;
  }

  .list {
    display: inline-block;
    float: left;
    width: 60vw;
    padding-right: 5vw;
    padding-top: 20px;
  }

  .expansion{
    width: 95vw;
    float: left;
  }


}
