.wrapper{
  display: inline-block;
  width: 100vw;
  height: 100vh;
}

.expansion-map-wrapper{
  display: flex;
  width: 100vw;
  flex-direction: row;
}

.expansion{
  width: 50vw;
}

.list {
  width: 50vw;
  padding-left: 5vw;
  padding-right: 3vw;
  padding-top: 20px;
}

.map {
  padding-right: 3vw;
  padding-top: 20px;
  width: 510px;
  height: 350px;
}

.searchBar {
  width: 45%;
  margin-left: 10px;
  display: inline-block;
  vertical-align: bottom;
}

.search-wrapper {
  /* try to center */
  margin-left: 20%;
}

@media only screen and (max-width: 1000px) {
  /* For non-desktops: */
  .expansion-map-wrapper{
    flex-direction: column-reverse;
  }

  .map {
    display: inline-block;
    width: 510px;
    height: 350px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .list {
    display: inline-block;
    width: 60vw;
    padding-right: 5vw;
    padding-top: 20px;
  }

  .expansion{
    width: 95vw;
  }

  .search-wrapper {
    flex-direction: row;
    margin-left: 5%;
  }
}


@media only screen and (max-width: 500px) {
  /* For non-desktops: */
  .expansion-map-wrapper{
    display: flex;
    width: 100vw;
    flex-direction: column-reverse;
  }

  .map {
    padding-right: 3vw;
    padding-top: 20px;
    width: 100vw;
    height: 40vh;
  }
}
