.button-wrapper {
  float: right;
}

.link {
  color: '#06274F';
  display: inline-block
}

.logged-in-link {
    color: '#06274F';
    display: inline-block;
}

.faq {
  margin: 0 auto;
  margin-bottom: 15px;
  font-weight: 300;
  text-align: center;
}

/* Adjust link font-size when screen width is relatively small*/
@media only screen and (max-width: 675px) {
  .link {
      color: '#06274F';
      display: inline-block;
      font-size: small;
      margin-left: 3vw;
  }
}

/* Adjust link font-size when user is logged in and screen width is relatively small*/
@media only screen and (max-width: 725px) {
  .logged-in-link {
      color: '#06274F';
      display: inline-block;
      font-size: small;
      margin-left: 3vw;
  }
}
