.detail {
  display: inline-block;
  width: 100vw;
  height: 100vh;
}

.header {
  clear: both;
  text-align: center;
}

.search {
  width: 45%;
  margin-left: 2vw;
  display: inline-block;
  vertical-align: bottom;
}

.list {
  width: 50vw;
  padding-left: 2vw;
  padding-right: 3vw;
  padding-top: 20px;
}

.photos {
  padding-left: 2vw;
  padding-right: 3vw;
  padding-top: 20px;
}

.label {
  display: inline;
  padding-left: 15px;
}

.detail h1 {
  text-align: center
}

.select {
  display: inline-block;
  vertical-align: bottom;
  margin-left: 10px;
  margin-top: 4px;
}

.search-wrapper {
  display: flex;
  flex-direction: row;
  margin-left: 20%;
}

.photo-wrapper {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 1000px) {
  .header {
    clear: both;
    text-align: center;
  }

  .photos {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 20px;
  }
  .search {
    margin-left: 10px;
    width: 60%;
    display: inline-block;
    vertical-align: bottom;
    z-index: 1;
    position: relative;
  }
  .list {
    z-index: 0;
    position: relative;
    text-align: center;
    width: 95%;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
  }
  .label {
    display: inline;
    padding-left: 2%;
  }
  .select {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 10px;
  }

  .search-wrapper {
    flex-direction: row;
    margin-left: 5%;
  }

  .photo-wrapper {
    flex-direction: column-reverse;
  }
}
