.detail {
  display: inline-block;
}

/* Center headers */
.detail h1 {
  text-align: center
}

.detail h2  {
  text-align: center
}

.label {
  display: inline;
  padding-left: 15px;
}

.select {
  display: inline-block;
  vertical-align: bottom;
  margin-left: 10px;
  margin-top: 4px;
}

.search {
  width: 35vw;
  margin-left: 10px;
  display: inline-block;
  vertical-align: bottom;
  z-index: 1;
  position: relative;
}

.search-wrapper {
  display: flex;
  flex-direction: row;
  margin-left: 2vw;
}

/* Wrapper around photos and table */
.photo-wrapper {
  display: flex;
  flex-direction: row;
}

.list {
  width: calc(93vw - 500px);
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 20px;
  z-index: 0;
  position: relative;
}

.photos {
  padding-top: 20px;
}

@media screen and (max-width: 1000px) {
  .photos {
    margin: 0 auto;
    padding-top: 10px;
  }

  .list {
    z-index: 0;
    position: relative;
    text-align: center;
    width: 94vw;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .photo-wrapper {
    flex-direction: column-reverse;
  }
}
