/* Center headers */
.detail h1 {
  display: inline-block;
}

.detail h2  {
  text-align: center
}

.photos {
  padding-right: 2vw;
  float: right;
}

.app {
  text-align: center;
  padding-bottom: 20px;
}

.label {
  display: inline;
  margin-top: 15px;
}

.select {
  display: inline-block;
  vertical-align: bottom;
  margin-left: 10px;
  margin-top: 4px;
}

.search {
  width: 33vw;
  margin-left: 10px;
  display: inline-block;
  vertical-align: bottom;
  z-index: 1;
  position: relative;
}

.search-wrapper {
  margin-left: 3vw;
}

.search-wrapper-centered {
  text-align: center;
}

.list {
  width: calc(94vw - 500px);
  margin-left: 1.5vw;
  margin-right: 1vw;
  padding-top: 20px;
  z-index: 0;
  position: relative;
  overflow: auto;
}

@media screen and (max-width: 1200px) {
  .photos {
    float: none;
    display: flex;
    justify-content: center;
    width: 95vw;
  }

  .list {
    z-index: 0;
    position: relative;
    text-align: center;
    width: 95vw;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .search {
    width: 40vw;
    margin-left: 10px;
    display: inline-block;
    vertical-align: bottom;
    z-index: 1;
    position: relative;
  }

  .search-wrapper {
    margin-top: 20px;
    text-align: center;
  }

}

@media screen and (max-width: 500px) {
  /* For phones */
  .photos {
    float: none;
    width: 70%;
  }

  .list {
    z-index: 0;
    position: relative;
    text-align: center;
    width: 90vw;
    padding-top: 20px;
    padding-bottom: 20px;
  }

}
